html {
	--c-text: var(--c-black);
	--c-background: var(--c-grey-light);
	--c-background-light: var(--c-grey-light);
	--c-background-lighter: var(--c-grey-lighter);
	--c-border: var(--c-grey-dark);

	font-family: var(--f-family);
	font-size: var(--f-size);
	line-height: var(--f-line-height);
	color: var(--c-text);
	background-color: var(--c-background);
}

@media (prefers-contrast: more) {
	html {
		--c-border: var(--c-black);
	}
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child),
p:not(:first-child),
blockquote:not(:first-child),
pre:not(:first-child),
ul:not(:first-child),
ol:not(:first-child),
dl:not(:first-child),
table:not(:first-child),
figure:not(:first-child) {
	margin-block-start: 0.5rem;
}

ul {
	padding-inline-start: 1rem;
}

a {
	color: var(--c-blue-light);
}

a:hover {
	color: var(--c-blue-dark);
}

legend {
	font-weight: bold;
}

dialog {
	padding: 1rem;
}

dialog::backdrop {
	background-color: hsl(0 0% 0% / 0.25);
}

table {
	border-collapse: collapse;
	inline-size: 100%;
}

th {
	text-align: left;
}

th,
td {
	padding: 0.25rem 1rem;
}

tbody tr {
	border-block-start: 2px solid var(--c-border);
}

pre {
	overflow-x: auto;
	font-family: var(--f-family-mono);
}

[hidden] {
	display: none !important;
}

::placeholder {
	font-style: italic;
}

::-webkit-inner-spin-button {
	margin-inline-start: 2px;
}
