body {
	font-size: 0.8em;
	line-height: 1.3;
	font-family: Lato, Numero, sans-serif;
	background-color: #eed9d9;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child),
p:not(:first-child),
blockquote:not(:first-child),
pre:not(:first-child),
ul:not(:first-child),
ol:not(:first-child),
dl:not(:first-child),
table:not(:first-child),
figure:not(:first-child) {
	margin-top: 0.5rem;
}

ul {
	padding-left: 1rem;
}

label {
	display: block;
}
