.main-content {
	margin: 0.5rem;
}

.form {
	display: grid;
	grid-template-areas:
		'hands round'
		'hands jokers'
		'hands cards'
		'hands score'
	;
	grid-template-columns: 15rem minmax(0, 1fr);
	gap: 0.5rem;
}

.form__round {
	grid-area: round;
}

.form__hands {
	grid-area: hands;
}

.form__jokers {
	grid-area: jokers;
}

.form__cards {
	grid-area: cards;
}

.form__score {
	grid-area: score;
}

.panel {
	padding: 0.5rem;
	border: 2px solid #e8d1d1;
	border-radius: 5px;
	background-color: #fcecec;
	box-shadow: 0 0 3px #e8bdbd;
}

.panel-header {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
}

.card {
	min-width: 100px;
	max-width: 200px;
	padding: 0.25rem;
	border: 2px solid transparent;
	border-radius: 5px;
	background-color: #fdf7f7;
}

.score {
	font-size: 1.5rem;
	font-weight: bold;
}

/* HAND LEVELS */

.hand-level {
	width: initial;
}

.h-level-input {
	text-align: right;
	width: 4rem;
}

.h-plays-input {
	text-align: right;
	width: 5rem;
}

/* CARDS */

.playing-card {
	border-color: #ccc;
}

.playing-card[draggable="true"] {
	cursor: ew-resize;
}

.playing-card:where(.--is-played) {
	margin-bottom: 1.5rem;
}

.playing-card:not(:where(.--is-played)) {
	margin-top: 1.5rem;
}

.playing-card:not(.--is-blind-the-pillar) .c-is-debuffed {
	display: none;
}

.c-rank-input {
	width: 5rem;
}

.c-suit-input {
	width: 6.6rem;
}

.c-edition-input {
	width: 100px;
}

.c-enhancement-input {
	width: 65px;
}

.c-seal-input {
	width: 65px;
}

/* JOKERS */

.joker {
	border-color: #ccc;
}

.joker[draggable="true"] {
	cursor: ew-resize;
}

.j-edition-input {
	width: 100px;
}

.joker:not(.--has-plus-chips):not(.--has-plus-multiplier):not(.--has-times-multiplier):not(.--has-is-active):not(.--has-rank):not(.--has-suit) .joker-effects {
	display: none;
}

.joker:not(.--has-plus-chips) .j-plus-chips {
	display: none;
}

.joker:not(.--has-plus-multiplier) .j-plus-multiplier {
	display: none;
}

.joker:not(.--has-times-multiplier) .j-times-multiplier {
	display: none;
}

.joker:not(.--has-is-active) .j-is-active {
	display: none;
}

.joker:not(.--has-rank):not(.--has-suit) .j-card {
	display: none;
}

.joker:not(.--has-rank) .j-rank {
	display: none;
}

.joker.--has-rank:not(.--has-suit) .j-card-of,
.joker:not(.--has-rank).--has-suit .j-card-of {
	display: none;
}

.joker:not(.--has-suit) .j-suit {
	display: none;
}

.j-plus-chips-input {
	width: 75px;
	text-align: right;
}

.j-plus-multiplier-input {
	width: 75px;
	text-align: right;
}

.j-times-multiplier-input {
	width: 75px;
	text-align: right;
}

.j-rank-input {
	width: 5rem;
}

.j-suit-input {
	width: 6.6rem;
}
