/* LABEL */

.action-list {
	display: flex;
	align-items: stretch;
	gap: 0.25rem;
}

.action-list>:not(.button):not(.push-left) {
	flex: 1;
}

/* CONTROL */

.control-box:where(.--flat) {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 0.25rem;
	flex-wrap: wrap;
}

.control-box>.label,
.control-box>.secondary-label {
	display: block;
}

.secondary-label {
	font-size: 0.9em;
}

.control-box:where(.--flat) .secondary-label {
	flex-basis: 100%;
}

.control-box:where(.--grow)>:is(.text-input, .combo-box, .select) {
	flex-grow: 1;
}

/* INPUT LIST */

.input-list {
	display: flex;
	align-items: baseline;
	gap: 0.25rem;
	flex-wrap: wrap;
}

.input-list>* {
	flex: 1;
}

/* BUTTON */

.button,
::file-selector-button {
	min-block-size: 2rem;
	margin: 0;
	padding: 0 1rem;
	border: 2px solid var(--c-border);
	border-radius: 0.25rem;
	display: inline flex;
	align-items: center;
	gap: 0.25rem;
	color: var(--c-text);
	background-color: var(--c-background-lighter);
}

@media (prefers-contrast: more) {
	.button,
	::file-selector-button {
		background-color: var(--c-white);
	}
}

::file-selector-button {
	cursor: pointer;
	margin-inline-end: 0.5rem;
}

.button:hover,
::file-selector-button:hover {
	background-color: var(--c-background-light);
}

@media (prefers-contrast: more) {
	.button:hover,
	::file-selector-button:hover {
		background-color: var(--c-background-lighter);
	}
}

.button:where(.--icon) {
	padding-inline-end: 0.2rem;
	padding-inline-start: 0.2rem;
	justify-content: center;
}

.button:not(:disabled) {
	cursor: pointer;
}

/* TEXT CONTROL */

.text-input {
	display: block;
	inline-size: 100%;
	max-inline-size: 100%;
	block-size: 2rem;
	margin: 0;
	padding: 0 0.25rem;
	border: 2px solid var(--c-border);
	border-radius: 0.25rem;
	color: var(--c-text);
	background-color: var(--c-background-lighter);
}

@media (prefers-contrast: more) {
	.text-input {
		background-color: var(--c-white);
	}
}

/* SELECT CONTROL */

.select {
	display: block;
	inline-size: 100%;
	max-inline-size: 100%;
	block-size: 2rem;
	margin: 0;
	padding: 0 0.25rem;
	border: 2px solid var(--c-border);
	border-radius: 0.25rem;
	color: var(--c-text);
	background-color: var(--c-background-lighter);
}

@media (prefers-contrast: more) {
	.select {
		background-color: var(--c-white);
	}
}

/* CHECKBOX */

.checkbox-control {
	display: flex;
	gap: 0.25rem;
	align-items: center;
}

.checkbox-control>.label {
	flex-grow: 1;
}
