/* LABEL */

.label {
	font-weight: bold;
}

.action-list {
	display: flex;
	align-items: stretch;
	gap: 0.25rem;
}

.action-list>:not(.button):not(.push-left) {
	flex: 1;
}

/* INPUT LIST */

.input-list {
	display: flex;
	align-items: baseline;
	gap: 0.25rem;
	flex-wrap: wrap;
}

.input-list>* {
	flex-grow: 1;
}

/* BUTTON */

.button {
	height: 24px;
	margin: 0;
	padding: 0 1rem;
	border: 2px solid var(--c-border);
	border-radius: 3px;
	display: inline flex;
	align-items: center;
	gap: 0.25rem;
	color: var(--c-text);
	background-color: var(--c-background-lighter, var(--c-background));
}

.button:hover {
	background-color: var(--c-background-light, var(--c-background));
}

.button:where(.--icon) {
	padding-right: 0.2rem;
	padding-left: 0.2rem;
	justify-content: center;
}

.button:not(:disabled) {
	cursor: pointer;
}

/* TEXT CONTROL */

.text-control:where(.--flat) {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 0.25rem;
	flex-wrap: wrap;
}

.text-control>.label,
.text-control>.secondary-label {
	display: block;
}

.text-control:where(.--flat) .secondary-label {
	flex-basis: 100%;
}

.text-input {
	display: block;
	width: max-content;
	max-width: 100%;
	height: 24px;
	margin: 0;
	padding: 0 0.25rem;
	border: 2px solid var(--c-border);
	border-radius: 3px;
	color: var(--c-text);
	background-color: var(--c-background-lighter, var(--c-background));
}

.text-control:where(.--flat)>.text-input {
	flex-grow: 1;
}

/* SELECT CONTROL */

.select-control:where(.--flat) {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 0.25rem;
	flex-wrap: wrap;
}

.select-control>.label,
.select-control>.secondary-label {
	display: block;
}

.select-control:where(.--flat) .secondary-label {
	flex-basis: 100%;
}

.select {
	display: block;
	width: 100%;
	max-width: 100%;
	height: 24px;
	margin: 0;
	padding: 0 0.25rem;
	border: 2px solid var(--c-border);
	border-radius: 3px;
	color: var(--c-text);
	background-color: var(--c-background-lighter, var(--c-background));
}

.select-control:where(.--flat)>.select {
	flex-grow: 1;
}

/* MULTISELECT CONTROL */

.multiselect-control>.label,
.multiselect-control>.secondary-label {
	display: block;
}

.multiselect {
	display: block;
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0 0.25rem;
	border: 2px solid var(--c-border);
	border-radius: 3px;
	color: var(--c-text);
	background-color: var(--c-background-lighter, var(--c-background));
}

/* CHECKBOX */

.checkbox-control {
	display: flex;
	gap: 0.25rem;
	align-items: center;
}

.checkbox-control>.label {
	flex-grow: 1;
}
