*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
dd,
figure,
fieldset,
legend {
	margin: 0;
	padding: 0;
}

details,
label,
summary,
main {
	display: block;
}

button,
input,
select,
fieldset {
	font-size: 100%;
	line-height: inherit;
	font-family: inherit;
	font-weight: inherit;
}

fieldset {
	border: none;
}
