*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
dd,
figure {
	margin: 0;
	padding: 0;
}

details,
summary,
main {
	display: block;
}
