.stack>*+* {
	margin-block-start: 0.5rem;
}

.columns {
	--threshold: 40rem;

	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.columns>* {
	flex-grow: 1;
	flex-basis: calc((var(--threshold) - 100%) * 999);
	min-inline-size: 0;
}

.list {
	display: flex;
	align-items: stretch;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.list:where(.--wrap) {
	flex-wrap: wrap;
}

.list>*:not(.button) {
	flex: 1;
}

.actions {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	flex-wrap: wrap;
}

.actions:where(.--right) {
	justify-content: flex-end;
}

.badge {
	display: inline-block;
	padding: 0 0.5rem;
	color: var(--c-text);
	background-color: var(--c-background-lighter);
	border-radius: 3px;
	font-size: 0.8em;
}

.push-left {
	margin-left: auto;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
}
